[Unit]
Description=Maintain agentmux instance @@INSTANCE_NAME@@
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=@@ENV_FILE@@
ExecStart=@@REPO_DIR@@/rc-update.sh
